/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  color: #595959;
}
header {
  background-color: #adbf97;
  width: 100%;
  border-radius: 2em;
}
.container {
  display: flex;
}
body {
  background-color: #e2eb98;
}
body h1 {
  font-size: 3em;
}
body h2 {
  font-size: 2em;
}
body header {
  text-align: center;
  padding-bottom: 1.5em;
}
body .home-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
  justify-content: center;
}
@media (max-width: 800px) {
  body .home-container {
    width: 95%;
    margin-top: 7em;
  }
}
@media (max-width: 500px) {
  body .home-container {
    width: 100%;
  }
}
body .home-container .home-box {
  width: 600px;
  background-color: #bad9a2;
  border-radius: 2em;
  margin: 3em auto 1em auto;
}
@media (max-width: 800px) {
  body .home-container .home-box {
    width: 90%;
  }
}
@media (max-width: 500px) {
  body .home-container .home-box {
    margin: 0.5em auto 0.5em auto;
  }
}
body .home-container .home-box .homeimg {
  border-radius: 2em;
  margin: 1em 3em;
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
}
body .home-container .home-box .homeimg img {
  border-radius: 2em;
  width: 100%;
  height: 100%;
}
@media (max-width: 500px) {
  body .home-container .home-box .homeimg {
    margin: 1em 1em;
  }
}
body .home-container .home-box .home {
  padding-bottom: 1em;
}
body .home-container .home-box .home .play {
  background-color: #9dc4b5;
  color: #595959;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border-radius: 2em;
  font-size: 16px;
  text-decoration: none;
}
body .home-container .home-box p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  color: #595959;
}
footer {
  text-align: center;
  margin-bottom: 1em;
}
@media (max-width: 800px) {
  body .container {
    flex-direction: column;
  }
}
body .container .navbar {
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  position: fixed;
  overflow-x: hidden;
  background-color: #adbf97;
  display: flex;
  flex-direction: column;
  border-radius: 2em;
}
@media (max-width: 800px) {
  body .container .navbar {
    flex-direction: row;
    width: 100%;
    padding: 0em;
    margin-bottom: 1em;
  }
}
body .container .navbar a:hover {
  background-color: #bad9a2;
}
body .container .navbar a {
  text-decoration: none;
  text-align: center;
  padding: 1em;
  color: black;
  font-size: 1.5em;
}
@media (max-width: 500px) {
  body .container .navbar a {
    font-size: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
@media (max-width: 800px) {
  body .container .navbar a {
    width: 100%;
  }
}
.team-container {
  width: 100%;
  background-color: #9dc4b5;
  border-radius: 2em;
  margin-top: 3em;
}
.team-container p {
  text-align: center;
  font-size: 2em;
}
.team-container img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.team-container .team1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.team-container .team1 .team1-content {
  padding: 2em;
  margin: 4em;
  border-radius: 2em;
  background-color: #bad9a2;
  width: auto;
  justify-content: center;
}
.team-container .team2 {
  display: flex;
  width: 100%;
  justify-content: center;
}
@media (max-width: 500px) {
  .team-container .team2 {
    flex-direction: column;
  }
}
.team-container .team2 .team2-content {
  padding: 2em;
  margin: 2em;
  border-radius: 2em;
  width: auto;
  background-color: #bad9a2;
}
.team-container .team3 {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .team-container .team3 {
    flex-direction: column;
  }
}
.team-container .team3 .team3-content {
  padding: 2em;
  margin: 2em 1em 2em 1em;
  border-radius: 2em;
  width: auto;
  background-color: #bad9a2;
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0Zdcg.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}
#contact {
  background: #bad9a2;
  padding: 25px;
  margin: 50px 0;
  border-radius: 2em;
}
#contact h3 {
  color: #595959;
  display: block;
  font-size: 30px;
  font-weight: 400;
}
#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}
#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}
#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
#contact button[type="submit"] {
  background-color: #9dc4b5;
  color: #595959;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 2em;
  font-size: 16px;
}
#contact button[type="submit"]:hover {
  background: #adbf97;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
