body{

.container {
    @media @tablet {
        flex-direction: column;
    }
    .navbar {
        text-align: center;
        padding-top: 1.5em;
        padding-bottom: 1.5em;   
        position: fixed;
        overflow-x: hidden;
        background-color: @accent-color;   
        display: flex;
        flex-direction: column;
        @media @tablet {
            flex-direction: row;
            width: 100%;
            padding: 0em;
            margin-bottom: 1em;

        }
        border-radius: 2em;
        a:hover {
            background-color: @content-bg-color;
        }
        a {
            text-decoration: none;
            text-align: center;
            padding: 1em;
			color: black;
            font-size: 1.5em;

            @media @mobile {
                font-size: 1em;
                padding-left:.5em;
                padding-right: .5em;
            }

 @media @tablet {
     width: 100%;
 }

        }
    }
}

}
