body {
    .container {
        .top-container {
            background-color: fade(@nav-bg, 80% ) ;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-bottom:3em;
            border-bottom: 2px dashed;
            @media @tablet {
                flex-direction: column-reverse;
                text-align: center;
            }
            .navbar {
                margin-top: .5em;
                margin-bottom: .5em; 
                @media @tablet {
                    margin-top: 1em;
                    margin-bottom: 1em; 
                }
                :hover {
                    background-color: @content-bg;
                    border-radius: .5em;
                }
                a {
                    color: @nav-text;
                    text-align: center;
                    padding: 14px 10px;

                    text-decoration: none;
                    font-size: 17px;
                    width: 100%;

                }
            }
        }
    }
}