@white: #FFFFFF;
@main-color: #e2eb98;
@accent-color: #adbf97;
@text-color-dark: #595959;
@text-color-light: #c7c5c4;
@content-bg-color: #bad9a2;
@content-bg-color2: #9dc4b5;
//media queries
@mobile: (max-width: 500px);
@tablet: (max-width: 800px);

